*config.py
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
# env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
.vs/
__pycache__/
venv/
.gcloudignore
*wicker-park-secrets-cred.json
iconic-hue-273619-firebase-adminsdk-vomu4-c773532c36.json

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover